@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gymzilla!</h1>
    <p>We have all your workout gear needs covered.</p>
    <p>Source available at <a href="https://github.com/ifotn/Gymzilla" target="_blank">
        https://github.com/ifotn/Gymzilla
           </a>.
    </p>
</div>
